body {
    margin: 0px;
    height: 100%;
}

html {
    margin: 0px;
    height: 100%;
}

#bodydiv {
    width: 1920px;
    height: 1080px;
    background-color: skyblue;
    overflow: hidden;
}

/* achtergronden */
#grass {
    position: absolute;
    top: 140px;
    width: 1920px;
}

#space {
    visibility: hidden;
    position: absolute;
}

#noorderlicht {
    visibility: hidden;
    position: absolute;
}

#moonsurface {
    visibility: hidden;
    position: absolute;
}

/* main character */
#eekhoorn {
    position: absolute;
    width: 200px;
    top: 750px;
    left: 400px;
}

#legeraket {
    position: absolute;
    width: 750px;
    top: 400px;
    left: 900px;
}

#raketmetvuur {
    visibility: hidden;
    position: absolute;
    width: 750px;
    top: 400px;
    left: 900px;
}

#raketzondervuur {
    visibility: hidden;
    position: absolute;
    width: 750px;
    top: 400px;
    left: 900px;
}


/* achtergrondobjecten */
#zon {
    position: absolute;
    width: 200px;
    left: 0px;
}

#cloud{
    visibility: hidden;
    position: absolute;
}

#plane {
    visibility: hidden;
    position: absolute;

}

#satellite1 {
    visibility: hidden;
    position: absolute;
}

#satellite2 {
    visibility: hidden;
    position: absolute;
}

#moon {
    visibility: hidden;
    position: absolute;
}

#meteor {
    visibility: hidden;
    position: absolute;
}
