* {
    transition: all 0.5s ease;
}

body {
    margin: 0px;
    height: 100%;
}

html {
    margin: 0px;
    height: 100%;
}

#bodydiv {
    width: 1920px;
    height: 1080px;
    background-color: skyblue;
    overflow: hidden;
}

/* achtergronden */
#grass {
    position: absolute;
    top: 140px;
    width: 1920px;
}

#space {
    visibility: hidden;
    position: absolute;
    width: 1920px;
    height: 1080px;
}

#noorderlicht {
    visibility: hidden;
    position: absolute;
    width: 1000px;
}

#moonsurface {
    visibility: hidden;
    position: absolute;
    width: 1920px;
    top: 600px;
}

/* main character */
#eekhoorn {
    position: absolute;
    width: 200px;
    top: 730px;
    left: 400px;
}

#legeraket {
    position: absolute;
    width: 750px;
    top: 380px;
    left: 900px;
}

#raketmetvuur {
    visibility: hidden;
    position: absolute;
    width: 750px;
    top: 380px;
    left: 900px;
}

#raketzondervuur {
    visibility: hidden;
    position: absolute;
    width: 750px;
    top: 380px;
    left: 900px;
}


/* achtergrondobjecten */
#zon {
    position: absolute;
    width: 200px;
}

#cloud1 {
    visibility: hidden;
    position: absolute;
    width: 500px;
    top: 300px;
    left: 100px;
}

#cloud2 {
    visibility: hidden;
    position: absolute;
    width: 500px;
    top: 100px;
    left: 750px;
}

#cloud3 {
    visibility: hidden;
    position: absolute;
    width: 500px;
    top: 250px;
    left: 1250px;
}

#plane {
    visibility: hidden;
    position: absolute;
    width: 400px;
}

#satellite1 {
    visibility: hidden;
    position: absolute;
    width: 400px;
    left: 100px;
    top: 150px;
}

#satellite2 {
    visibility: hidden;
    position: absolute;
    width: 500px;
    left: 1400px;
    top: 200px;
}

#moon {
    visibility: hidden;
    position: absolute;
    width: 200px;
}

#meteor {
    visibility: hidden;
    position: absolute;
    width: 700px;
    top: 50px;
    left: 200px;
}

#acorn {
    visibility: hidden;
    position: absolute;
    width: 100px;
    top: 875px;
    left: 550px;
}